<div class='header'>
  <div class='header-menu'>
    <div class='menu-nav'>
    <!-- Demand -->
      <div class='menu-nav-box demand'>
        <div class='menu-nav-title'>
          Demand
        </div>
        <div class='menu-nav-content'>
          <div class='menu-nav-item space'>&nbsp;</div>
          <!-- Demographics -->
          <a href=<%= checker_path(anchor: 'demographics') %>>
            <div class='menu-nav-item icon btooltip' title="Demographics" data-card-slug='d_dem'><i class='fa fa-globe'></i></div>
          </a>
          <div class='menu-nav-item line'>&nbsp;</div>
          <!-- Diet -->
          <a href=<%= checker_path(anchor: 'diet') %>>
            <div class='menu-nav-item icon btooltip' title="Diet" data-card-slug='d_die'><i class='fa fa-cutlery'></i></div>
          </a>
          <div class='menu-nav-item line'>&nbsp;</div>
          <!-- Households -->
          <a href=<%= checker_path(anchor: 'households') %>>
            <div class='menu-nav-item icon btooltip' title="Households" data-card-slug='d_hou'><i class='fa fa-home'></i></div>
          </a>
          <div class='menu-nav-item line'>&nbsp;</div>
          <!-- Services -->
          <a href=<%= checker_path(anchor: 'services') %>>
            <div class='menu-nav-item icon btooltip' title="Services &amp; Government" data-card-slug='d_ser'><i class='fa fa-medkit'></i></div>
          </a>
          <div class='menu-nav-item line'>&nbsp;</div>
        </div>
      </div>
      <!-- Supply -->
      <div class='menu-nav-box supply'>
        <div class='menu-nav-title'>
          Supply
        </div>
        <div class='menu-nav-content'>
          <div class='menu-nav-item line'>&nbsp;</div>
          <!-- Density -->
          <a href=<%= checker_path(anchor: 'density') %>>
            <div class='menu-nav-item icon btooltip' title="Density" data-card-slug='s_den'><i class='fa fa-group'></i></div>
          </a>
          <div class='menu-nav-item line'>&nbsp;</div>
          <!-- Land -->
          <a href=<%= checker_path(anchor: 'land') %>>
            <div class='menu-nav-item icon btooltip' title="Land" data-card-slug='s_lan'><i class='fa fa-picture-o'></i></div>
          </a>
          <div class='menu-nav-item line'>&nbsp;</div>
          <!-- Agriculture -->
          <a href=<%= checker_path(anchor: 'agriculture') %>>
            <div class='menu-nav-item icon btooltip' title="Agriculture" data-card-slug='s_agr'><i class='fa fa-leaf'></i></div>
          </a>
          <div class='menu-nav-item line'>&nbsp;</div>
          <!-- BM -->
          <a href=<%= checker_path(anchor: 'bm') %>>
            <div class='menu-nav-item icon btooltip' title="Building &amp; Manufacturing" data-card-slug='s_bm'><i class='fa fa-wrench'></i></div>
          </a>
          <div class='menu-nav-item line'></div>
          <!-- Energy -->
          <a href=<%= checker_path(anchor: 'energy') %>>
            <div class='menu-nav-item icon btooltip' title="Energy" data-card-slug='s_ene'><i class='fa fa-bolt'></i></div>
          </a>
          <div class='menu-nav-item line'>&nbsp;</div>
        </div>
      </div>
      <!-- Check -->
      <div class='menu-nav-box check'>
        <div class='menu-nav-title'>
          Check
        </div>
        <div class='menu-nav-content'>
          <div class='menu-nav-item line'>&nbsp;</div>
          <a href=<%= checker_path(anchor: 'check') %>>
            <div class='menu-nav-item checkicon btooltip' title="Check"><i class='fa fa-check'></i></div>
          </a>
          <div class='menu-nav-item space'>&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
  <div id='uid' class='hidden'><%= @experiment.id %></div>
</div>
