<!-- BEGIN SECTION INTRO -->
<div class='section' id='intro' data-section-slug='intro'>
  <div class='section-wrapper'>
    <h2>The Sustainability Checker <br><small>A didactic, interactive tool to understand and discuss sustainability issues</small></h2>
    <div class='description'>
      <p>How easy is it for a country to become self-sustained? 9 questions (and a <em>little</em> math) is all it takes to find out!</p>
    </div><br>
    <div class='text-center'>
      <a href='#demographics' class='nav-link'>
        <div class='btn btn-lg btn-primary'>Start the experience!</div>
      </a>
    </div>
  </div>
</div>

<!-- BEGIN SECTION DEMOGRAPHICS -->
<div class='section' id='demographics' data-section-slug='d_dem'>
  <div class='section-wrapper'>
    <h2>Socio-demographics <small>Typology of society</small></h2>
    <div class='description'>
      <p><strong>How would you define your population?</strong></p>
      <p>A more developped country has more requirements.</p>
    </div>
    <div class='choice radio' data-choice-type='radio'>
      <div class='radio-row'>
        <div class='cell lg-4' data-cv-value='low'>
          <img src='<%= image_path('placeholder.png') %>'>
          <span class='text'>Less developped countries</span><br><small>(e.g. Cambodgia)</small>
        </div>
        <div class='cell lg-4' data-cv-value='med'>
          <img src='<%= image_path('placeholder.png') %>'>
          <span class='text'>Emerging economy</span><br><small>(e.g. China)</small>
        </div>
        <div class='cell lg-4' data-cv-value='high'>
          <img src='<%= image_path('placeholder.png') %>'>
          <span class='text'>Post-industrial, rich</span><br><small>(e.g. Europe)</small>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- BEGIN SECTION DIET -->
<div class='section' id='diet' data-section-slug='d_die'>
  <div class='section-wrapper'>
    <h2>Diet <small>Meat Consumption</small></h2>
    <div class='description'>
      <p><strong>How much animal products (meat, eggs, milk...) does your population consume?</strong></p>
      <p>The more meat your people eat, the more food you will have to produce to feed your animals.</p>
    </div>
    <div class='choice radio' data-choice-type='radio'>
      <div class='radio-row'>
        <div class='cell lg-4' data-cv-value='low'>
          <img src='<%= image_path('placeholder.png') %>'>
          <span class='text'>Low</span><br><small>(e.g. Parts of India)</small>
        </div>
        <div class='cell lg-4' data-cv-value='med'>
          <img src='<%= image_path('placeholder.png') %>'>
          <span class='text'>Average</span><br><small>(e.g. Europe)</small>
        </div>
        <div class='cell lg-4' data-cv-value='high'>
          <img src='<%= image_path('placeholder.png') %>'>
          <span class='text'>High</span><br><small>(e.g. USA)</small>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- BEGIN SECTION HOUSEHOLDS -->
<div class='section' id='households' data-section-slug='d_hou'>
  <div class='section-wrapper'>
    <h2>Households <small>Typology</small></h2>
    <div class='choice'>
      <div class='description'>
        <p><strong>What is the proportion of urban population in your country?</strong></p>
        <p>If all your people lived scattered across the land, ambulances would have a hard time reaching all of them in due time!</p>
      </div>
      <div data-choice-type='slidergroup'>
        <div>Urban</div>
        <!-- SLIDER URBAN -->
        <div class='slider' data-slider-name='d_hou_urb'></div>
        <div>Rural</div>
        <!-- SLIDER RURAL -->
        <div class='slider' data-slider-name='d_hou_rur'></div>
      </div>
    </div>
      <div class='description'>
        <p><strong>Within the urban population, how are your cities laid out?</strong></p>
        <p>The richer your population, the more resources you have to allocate to cater to their needs!</p>
      </div>
    <div data-choice-type='slidergroup'>
      <div>Rich, Suburbs
        <!-- SLIDER SUB -->
        <div class='slider' data-slider-name='d_hou_sub'></div>
      </div>
      <div>Middle-class, Appartments
        <!-- SLIDER APA -->
        <div class='slider' data-slider-name='d_hou_apa'></div> 
      </div>
      <div>Poor, Slums
        <!-- SLIDER SLU -->
        <div class='slider' data-slider-name='d_hou_slu'></div> 
      </div>
    </div>
    <div class='text-center'>
      <a href='#services' class='nav-link'><div class='btn btn-primary btn-lg'>Next</div></a>
    </div>
  </div>
</div>

<!-- BEGIN SECTION SERVICES -->
<div class='section' id='services' data-section-slug='d_ser'>
  <div class='section-wrapper'>
    <h2>Services &amp; Government <small>Budget repartition</small></h2>
    <div class='description'>
      <p><strong>How much money do you want to allocate to the different services?</strong></p>
      <p>The higher resources you allocate, the smarter, the healthier, the happier your population becomes, but providing all these services has a cost.</p>
    </div>
    <div class='choice'>
      <div data-choice-type='slider'>    
        <p><strong>Education &amp; Healthcare</strong></p>
        <div class='slider' data-slider-name='d_ser_edu'></div>
      <div data-choice-type='slider'>    
        <p><strong>Media, Entertainment, Tourism</strong></p>
        <div class='slider' data-slider-name='d_ser_med'></div>
      <div data-choice-type='slider'>    
        <p><strong>Public Institutions, Government, Military</strong></p>
        <div class='slider' data-slider-name='d_ser_pub'></div>
      <div data-choice-type='slider'>    
        <p><strong>Transportation, Retailing</strong></p>
        <div class='slider' data-slider-name='d_ser_tra'></div>
    </div>
    <div class='text-center'>
      <a href='#density' class='nav-link'><div class='btn btn-primary btn-lg'>Next</div></a>
    </div>
  </div>
</div>

<!-- BEGIN SECTION DENSITY -->
<div class='section' id='density' data-section-slug='s_den'>
  <div class='section-wrapper'>
    <h2>Population Density</h2>
    <div class='description'>
      <p><strong>How is your population density?</strong></p>
      <p>Population density reflects how scattered or concentrated your population is. It would be easier to attend to the needs of everyone if they were all in the same place, but wouldn't they suffocate if it was too concentrated?</p>
    </div>
    <div class='choice radio' data-choice-type='radio'>
      <div class='radio-row'>
        <div class='cell lg-4' data-cv-value='low'>
          <img src='<%= image_path('placeholder.png') %>'>
          <span class='text'>Low</span><br><small>(e.g. Canada, Russia)</small>
        </div>
        <div class='cell lg-4' data-cv-value='med'>
          <img src='<%= image_path('placeholder.png') %>'>
          <span class='text'>Average</span><br><small>(e.g. USA)</small>
        </div>
        <div class='cell lg-4' data-cv-value='high'>
          <img src='<%= image_path('placeholder.png') %>'>
          <span class='text'>High</span><br><small>(e.g. India, Japan, South Korea)</small>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- BEGIN SECTION LAND -->
<div class='section' id='land' data-section-slug='s_lan'>
  <div class='section-wrapper'>
    <h2>Land <small>Arable land</small></h2>
    <div class='description'>
      <p><strong>What is the quantity of arable land in your country?</strong></p>
      <p>Arable land....</p>
    </div>
    <div class='choice radio' data-choice-type='radio'>
      <div class='radio-row'>
        <div class='cell lg-4' data-cv-value='low'>
          <img src='<%= image_path('placeholder.png') %>'>
          <span class='text'>Low</span><br><small>(e.g. Bangladesh)</small>
        </div>
        <div class='cell lg-4' data-cv-value='med'>
          <img src='<%= image_path('placeholder.png') %>'>
          <span class='text'>Average</span><br><small>(e.g. France, Spain)</small>
        </div>
        <div class='cell lg-4' data-cv-value='high'>
          <img src='<%= image_path('placeholder.png') %>'>
          <span class='text'>High</span><br><small>(e.g. Canada, Australia)</small>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- BEGIN SECTION BM -->
<div class='section' id='bm' data-section-slug='s_bm'>
  <div class='section-wrapper'>
    <h2>Bulding &amp; Manufacturing <small>Industrialization</small></h2>
    <div class='description'>
      <p><strong>What is the level of industrialization and infrastructure in your society?</strong></p>
      <p>..........................</p>
    </div>
    <div class='choice radio' data-choice-type='radio'>
      <div class='radio-row'>
        <div class='cell lg-4' data-cv-value='low'>
          <img src='<%= image_path('placeholder.png') %>'>
          <span class='text'>Low</span><br><small>(e.g. Central Africa, China)</small>
        </div>
        <div class='cell lg-4' data-cv-value='med'>
          <img src='<%= image_path('placeholder.png') %>'>
          <span class='text'>Average</span><br><small>(e.g. Russia, Argentina, Mexico)</small>
        </div>
        <div class='cell lg-4' data-cv-value='high'>
          <img src='<%= image_path('placeholder.png') %>'>
          <span class='text'>High</span><br><small>(e.g. USA, Australia, France)</small>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- BEGIN SECTION AGRICULTURE -->
<div class='section' id='agriculture' data-section-slug='s_agr'>
  <div class='section-wrapper'>
    <h2>Agriculture <small>Typology</small></h2>
    <div class='description'>
      <p><strong>You are currently consuming <em>XX food</em>, how does your population produce it?</strong></p>
      <p>......</p>
    </div>
    <div class='choice radio' data-choice-type='radio'>
      <div class='radio-row'>
        <div class='cell lg-4' data-cv-value='low'>
          <img src='<%= image_path('placeholder.png') %>'>
          <span class='text'>Traditional, Labor-intensive</span><br><small>(e.g. Central Africa, India)</small>
        </div>
        <div class='cell lg-4' data-cv-value='med'>
          <img src='<%= image_path('placeholder.png') %>'>
          <span class='text'>Mixed</span><br><small>(e.g. Brazil, Mexico)</small>
        </div>
        <div class='cell lg-4' data-cv-value='high'>
          <img src='<%= image_path('placeholder.png') %>'>
          <span class='text'>Industrialized, Mechanized</span><br><small>(e.g. USA, Europe, Australia)</small>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- BEGIN SECTION ENERGY -->
<div class='section' id='energy' data-section-slug='s_ene'>
  <div class='section-wrapper'>
    <h2>Energy &amp; Fuels <small>Local production</small></h2>
    <div class='description'>
      <p><strong>You are currently consuming <em>XX energy</em>, how does your population produce it?</strong></p>
      <p>......................</p>
    </div>
    <div class='choice'>
      <p><strong>Electricity</strong></p>
      <div data-choice-type='slidergroup'>
        <div>Nuclear
          <div class='slider' data-slider-name='s_ene_nuc'></div>
        </div>
        <div>Hydropower
          <div class='slider' data-slider-name='s_ene_hyd'></div>
        </div>
        <div>Photovoltaics
          <div class='slider' data-slider-name='s_ene_pho'></div>
       </div>
        <div>Wind Power
          <div class='slider' data-slider-name='s_ene_win'></div>
       </div>
      </div>
      <p><strong>Fuels</strong></p>
      <div data-choice-type='slidergroup'>
        <div>Biofuels
          <div class='slider' data-slider-name='s_ene_bio'></div>
        </div>
        <div>Hydrogen
          <div class='slider' data-slider-name='s_ene_hyg'></div>
        </div>
        <div>Non-conventional fossile resources
          <div class='slider' data-slider-name='s_ene_ncf'></div>
        </div>
      </div>
    </div>
    <div class='text-center'>
      <a href='#check' class='nav-link'><div class='btn btn-primary btn-lg'>Next</div></a>
    </div>
  </div>
</div>
