<h1>How to contact us?</h1>
<hr/>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">		
			<div class="panel-heading">
				<h3 class="panel-header">Visit us!</h3>
			</div>
			<div class="panel-body">
				<p>
					Our research group is located on the Bellaterra Campus of the Universitat Autònoma de Barcelona, in the Facultat de Ciències (Building C). <br/><br/>
					The Bellaterra Campus is located about 20 km outside of Barcelona and can be conveniently reached from Barcelona's city centre by Ferrocarril (FGC, line Barcelona-Vallès, destination: Universitat Autònoma). At Plaça Catalunya, take line S-2 (green, towards Sabadell) or S-55 (blue, towards Universitat Autònoma) and get off at the stop "Universitat Autònoma". The trip takes about 30 minutes and trains leave about every 10 minutes. <br/><br/>
					We look forward to welcome you!
				</p>	
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-header">Via email</h3>
			</div>
			<div class="panel-body">
				<%= form_tag(contact_send_path, method: 'post', remote: 'true', id: "formcontact", class: "form-horizontal", role: "form") do %>
				  <div class="form-group">
					  <%= label_tag :email, "Email", class: "col-lg-2 control-label" %>
				    <div class="col-lg-10">
							<%= email_field_tag :email, nil, class: "form-control", placeholder: "Enter your email..." %>
							<%= text_field_tag :nickname, nil, class: "hidden" %>
						</div>
					</div>
				  <div class="form-group">
				 	  <%= label_tag :message, "Message", class: "col-lg-2 control-label" %>
				    <div class="col-lg-10">
							<%= text_area_tag :message, nil, class: "form-control", rows: "4", placeholder: "Write your message here..." %>
						</div>
					</div>
				  <div class="form-group">
				    <div class="col-lg-offset-2 col-lg-10">
				 		  <%= submit_tag "Send", id: "btnsubmit", class: "btn btn-default"%>
						</div>
					</div>
				<% end %>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-header">Via postal address</h3>
			</div>
			<div class="panel-body">
				<p>
					You can write to us at the following address: <br/>
					<em>Integrated Assessment group - Pr. Mario Giampietro <br/>
					Institute for Environmental Science and Technology (ICTA) <br/>
					Universitat Autònoma de Barcelona (UAB) <br/>
					Edifici C, Campus de la UAB <br/>
					08193 Bellaterra (Cerdanyola del Vallès) – Barcelona <br/>
					Spain </em>
				</p>		
			</div>
		</div>
	</div>
</div>
