<h1><%= Content.text('contact_title', 'simple') %></h1>
<hr/>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">		
			<div class="panel-heading">
				<h3 class="panel-header"><%= Content.text('contact_visit_title', 'simple') %></h3>
			</div>
			<div class="panel-body">
				<p>
					<%= Content.text('contact_visit_desc') %>
				</p>	
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-header"><%= Content.text('contact_email_title', 'simple') %></h3>
			</div>
			<div class="panel-body">
				<%= form_tag(contact_send_path, method: 'post', remote: 'true', id: "formcontact", class: "form-horizontal", role: "form") do %>
				  <div class="form-group">
					  <%= label_tag :email, "Email", class: "col-lg-2 control-label" %>
				    <div class="col-lg-10">
							<%= email_field_tag :email, nil, class: "form-control", placeholder: "Enter your email..." %>
							<%= text_field_tag :nickname, nil, class: "hidden" %>
						</div>
					</div>
				  <div class="form-group">
				 	  <%= label_tag :message, "Message", class: "col-lg-2 control-label" %>
				    <div class="col-lg-10">
							<%= text_area_tag :message, nil, class: "form-control", rows: "4", placeholder: "Write your message here..." %>
						</div>
					</div>
				  <div class="form-group">
				    <div class="col-lg-offset-2 col-lg-10">
				 		  <%= submit_tag "Send", id: "btnsubmit", class: "btn btn-default"%>
						</div>
					</div>
				<% end %>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-header"><%= Content.text('contact_address_title', 'simple') %></h3>
			</div>
			<div class="panel-body">
				<p>
					<%= Content.text('contact_address_desc') %>
				</p>		
			</div>
		</div>
	</div>
</div>
