<%= render 'header' %>
<div class='container'>
  <h1 id='glossarytitle'><%= Content.text('gloss_title') %></h1>
  <hr>
  <div id='glossary-index'>
    <h2><%= Content.text('gloss_index_title') %></h2>
      <p>
      <% @glossary.each do |g| %>
        <a href='#<%=g.slug%>'><%=g.name%></a><br>
      <% end %>
      </p>
  </div>
  <hr>
  <div id='glossary-main'>
  <% @glossary.each do |g| %>
    <div class='glos-entry' id='<%=g.slug%>'>
      <h3>&#10165; <%=g.name%></h3>
      <blockquote>
        <p><%=g.definition%></p>
      </blockquote>
    </div>
  <% end %>
  </div>
</div>
