<%= render 'header' %>
<div class='container'>
  <h1 id='glossarytitle'><%= Content.text('gloss_title') %></h1>
  <hr>
  <% @glossary.each do |g| %>
  <div class='glos-entry' id='<%=g.name%>'>
    <h3>&#10165; <%=g.name%></h3>
    <blockquote>
      <p><%=g.definition%></p>
    </blockquote>
  </div>
  <% end %>
</div>
