<%= render 'header' %>

<!-- HOME -->
<div id="home" class='section'>
  <h1><%= Content.text('st_title') %><small><%= Content.text('st_subtitle') %></small></h1>
  <div id='intro-text'>
    <img src="http://dummyimage.com/200x200/d1d9ff/5e5e5e.png&text=logo">
    <p>
      <%= Content.text('st_intro') %>
    </p>
  </div>
  <div class='row'>
    <div class='col-md-6'>
      <%= Content.text('st_aside') %>
    </div>
    <div class='col-md-6'>
      <div style="background-color:#000000;width:520px;">
        <div style="padding:4px;">
          <iframe src="http://media.mtvnservices.com/embed/mgid:cms:video:thedailyshow.com:312470" width="512" height="288" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class='btn-row'>
    <a href='/level1'>
      <div class='btn btn-lg btn-primary'><%= Content.text('st_btn_start') %></div>
    </a>
    <a href='#more'>
      <div class='btn btn-lg btn-default'><%= Content.text('st_btn_more') %></div>
    </a>
  </div>
</div>

<!-- MORE -->
<div id="more" class='section'>
  <h1><%= Content.text('st_more_title') %></h1>
  <hr>  
  <p>
    <%= Content.text('st_more') %>
  </p>
  <div class='btn-row'>
    <a href='/level1'>
      <div class='btn btn-lg btn-primary'><%= Content.text('st_btn_morestart') %></div>
    </a>
  </div>
</div>

<!-- DISCLAIMER -->
<div id="disclaimer" class='section'>
  <h1><%= Content.text('st_disclaimer_title') %></h1>
  <hr>  
  <p>
    <%= Content.text('st_disclaimer') %>
  </p>
</div>

<!-- ABOUT -->
<div id="about" class='section'>
  <h1><%= Content.text('st_about_title') %></h1>
  <hr>  
  <p>
    <%= Content.text('st_about') %>
  </p>
</div>

<!-- CONTACT -->
<div id="contact" class='section'>
  <h1><%= Content.text('st_contact_title') %></h1>
  <hr/>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">   
        <div class="panel-heading">
          <h3 class="panel-header"><%= Content.text('contact_visit_title', 'simple') %></h3>
        </div>
        <div class="panel-body">
          <p>
            <%= Content.text('contact_visit_desc') %>
          </p>  
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-header"><%= Content.text('contact_email_title', 'simple') %></h3>
        </div>
        <div class="panel-body">
          TODO Contact Form
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-header"><%= Content.text('contact_address_title', 'simple') %></h3>
        </div>
        <div class="panel-body">
          <p>
            <%= Content.text('contact_address_desc') %>
          </p>    
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CREDITS -->
<div id="credits" class='section'>
  <h1><%= Content.text('st_credits_title') %></h1>
  <hr>  
  <p>
    <%= Content.text('st_credits') %>
  </p>
</div>

<!-- FOOTER -->
<div id="footer">
  <p><%= Content.text('st_footer') %></p>
  <p><%= Content.text('st_copyright') %> | <a href='/glossary'><%= Content.text('st_glossary') %> | <a href='/legal'><%= Content.text('st_legal') %></a></p>
</div>
