<div id='uneditables'>
<br>
<a href='/admin'>&#8617; Back to administration panel</a>
<h1>Uneditables</h1>
<hr>

<h3><a href='#navicons' data-toggle='collapse'>Navigation Icons Tooltips</a></h3>
<p class='desc'>These are the tooltips used in the navigation header icons.</p>
<div id='navicons' class='cont3 collapse fade'>
  <h4>Levels</h4>
  <div class='cont4'>
    <p><%= Content.text('chkr_navtool_lvl1') %></p>
    <p><%= Content.text('chkr_navtool_lvl2') %></p>
    <p><%= Content.text('chkr_navtool_lvl3') %></p>
  </div>
  <h4>Sections</h4>
  <div class='cont4'>
    <p><%= Content.text('chkr_dem_title') %></p>
    <p><%= Content.text('chkr_die_title') %></p>
    <p><%= Content.text('chkr_hou_title') %></p>
    <p><%= Content.text('chkr_ser_title') %></p>
    <p><%= Content.text('chkr_lan_title') %></p>
    <p><%= Content.text('chkr_ind_title') %></p>
    <p><%= Content.text('chkr_agr_title') %></p>
    <p><%= Content.text('chkr_ene_title') %></p>
    <p><%= Content.text('chkr_check_title') %></p>
  </div>
  <h4>Scroll Top button</h4>
  <div class='cont4'>
    <p><%= Content.text('chkr_scrolltop_t') %></p>
  </div>
<hr>
</div>

<h3><a href='#radar' data-toggle='collapse'>Radar Tooltips</a></h3>
<p class='desc'>Each entry has a title and a content.</p>
<div id='radar' class='cont3 collapse fade'>
  <h4>Areas</h4>
  <div class='cont4'>
    <h5>Quality</h5>
    <div class='cont5'>
      <%= Content.text('chkr_rdr_i1_t') %>
      <%= Content.text('chkr_rdr_i1_c') %>
    </div>
    <h5>Quantity</h5>
    <div class='cont5'>
      <%= Content.text('chkr_rdr_i2_t') %>
      <%= Content.text('chkr_rdr_i2_c') %>
    </div>
    <h5>Wage</h5>
    <div class='cont5'>
      <%= Content.text('chkr_rdr_i3_t') %>
      <%= Content.text('chkr_rdr_i3_c') %>
    </div>
    <h5>Jobs</h5>
    <div class='cont5'>
      <%= Content.text('chkr_rdr_i5_t') %>
      <%= Content.text('chkr_rdr_i5_c') %>
    </div>
    <h5>Land Use</h5>
    <div class='cont5'>
      <%= Content.text('chkr_rdr_i5_t') %>
      <%= Content.text('chkr_rdr_i5_c') %>
    </div>
    <h5>Soil Pollution</h5>
    <div class='cont5'>
      <%= Content.text('chkr_rdr_i6_t') %>
      <%= Content.text('chkr_rdr_i6_c') %>
    </div>
    <h5>Value Added</h5>
    <div class='cont5'>
      <%= Content.text('chkr_rdr_i7_t') %>
      <%= Content.text('chkr_rdr_i7_c') %>
    </div>
    <h5>Currency</h5>
    <div class='cont5'>
      <%= Content.text('chkr_rdr_i8_t') %>
      <%= Content.text('chkr_rdr_i8_c') %>
    </div>
  </div>
  <h4>Sections</h4>
  <div class='cont4'>
    <h5>International trade</h5>
    <div class='cont5'>
      <%= Content.text('chkr_rdr_G1_t') %>
      <%= Content.text('chkr_rdr_G1_c') %>
    </div>
    <h5>Society</h5>
    <div class='cont5'>
      <%= Content.text('chkr_rdr_G2_t') %>
      <%= Content.text('chkr_rdr_G2_c') %>
    </div>
    <h5>Environment</h5>
    <div class='cont5'>
      <%= Content.text('chkr_rdr_G3_t') %>
      <%= Content.text('chkr_rdr_G3_c') %>
    </div>
    <h5>Economic</h5>
    <div class='cont5'>
      <%= Content.text('chkr_rdr_G4_t') %>
      <%= Content.text('chkr_rdr_G4_c') %>
    </div>
  </div>
<hr>
</div>

<h3><a href='#sudoku' data-toggle='collapse'>Sudoku Tooltips</a></h3>
<p class='desc'>Each entry has a title and a content.</p>
<div id='sudoku' class='cont3 collapse fade'>
  <h4>Flow/Fund titles</h4>
  <div class='cont4'>
    <h5>Flows</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_flows_t') %>
      <%= Content.text('chkr_sud_flows_c') %>
    </div>
    <h5>Funds</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_funds_t') %>
      <%= Content.text('chkr_sud_funds_c') %>
    </div>
    <h5>Flow/Fund ratio</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_flowfund_t') %>
      <%= Content.text('chkr_sud_flowfund_c') %>
    </div>
    <h5>Food</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_food_t') %>
      <%= Content.text('chkr_sud_food_c') %>
    </div>
    <h5>Energy</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_energy_t') %>
      <%= Content.text('chkr_sud_energy_c') %>
    </div>
    <h5>HA</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_ha_t') %>
      <%= Content.text('chkr_sud_ha_c') %>
    </div>
    <h5>LU</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_lu_t') %>
      <%= Content.text('chkr_sud_lu_c') %>
    </div>
    <h5>EMR</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_emr_t') %>
      <%= Content.text('chkr_sud_emr_c') %>
    </div>
    <h5>FMD</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_fmd_t') %>
      <%= Content.text('chkr_sud_fmd_c') %>
    </div>
  </div>
  <h4>Supply/Demand titles</h4>
  <div class='cont4'>
    <h5>Consumption</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_consumption_t') %>
      <%= Content.text('chkr_sud_consumption_c') %>
    </div>
    <h5>Supply</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_supply_t') %>
      <%= Content.text('chkr_sud_supply_c') %>
    </div>
    <h5>WS</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_ws_t') %>
      <%= Content.text('chkr_sud_ws_c') %>
    </div>
    <h5>HH</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_hh_t') %>
      <%= Content.text('chkr_sud_hh_c') %>
    </div>
    <h5>SG</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_sg_t') %>
      <%= Content.text('chkr_sud_sg_c') %>
    </div>
    <h5>BM</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_bm_t') %>
      <%= Content.text('chkr_sud_bm_c') %>
    </div>
    <h5>AG</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_ag_t') %>
      <%= Content.text('chkr_sud_ag_c') %>
    </div>
    <h5>EM</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_em_t') %>
      <%= Content.text('chkr_sud_em_c') %>
    </div>
    <h5>Domestic Supply</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_domsup_t') %>
      <%= Content.text('chkr_sud_domsup_c') %>
    </div>
    <h5>Imports</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_imports_t') %>
      <%= Content.text('chkr_sud_imports_c') %>
    </div>
    <h5>Virtual Imports</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_vimports_t') %>
      <%= Content.text('chkr_sud_vimports_c') %>
    </div>
  </div>
<hr>
</div>

<h3><a href='#expl' data-toggle='collapse'>Sustainability Explanations</a></h3>
<p class='desc'>These are the passed/failed explanation title and texts in the Check section. Title is at the top og the Check section. First paragraph is located right after the title, second one right after the graph/radar section. Each paragraph has six possible states: a passed/failed couple for each of the three levels.</p>
<div id='expl' class='cont3 collapse fade'>
  <h4>Title</h4>
  <div class='cont4'>
    <h5>Passed</h5>
    <div class='cont5'>
      <%= Content.text('chkr_res_title_passed') %>
    </div>
    <h5>Failed</h5>
    <div class='cont5'>
      <%= Content.text('chkr_res_title_failed') %>
    </div>
  </div>
  <h4>First paragraph</h4>
  <div class='cont4'>
    <h5>Level 1</h5>
    <div class='cont5'>
      <h6>Passed</h6>
      <%= Content.text('chkr_res_explanation1_passed1') %>
      <h6>Failed</h6>
      <%= Content.text('chkr_res_explanation1_failed1') %>
    </div>
    <h5>Level 2</h5>
    <div class='cont5'>
      <h6>Passed</h6>
      <%= Content.text('chkr_res_explanation1_passed2') %>
      <h6>Failed</h6>
      <%= Content.text('chkr_res_explanation1_failed2') %>
    </div>
    <h5>Level 3</h5>
    <div class='cont5'>
      <h6>Passed</h6>
      <%= Content.text('chkr_res_explanation1_passed3') %>
      <h6>Failed</h6>
      <%= Content.text('chkr_res_explanation1_failed3') %>
    </div>
  </div>
  <h4>Second paragraph</h4>
  <div class='cont4'>
    <h5>Level 1</h5>
    <div class='cont5'>
      <h6>Passed</h6>
      <%= Content.text('chkr_res_explanation2_passed1') %>
      <h6>Failed</h6>
      <%= Content.text('chkr_res_explanation2_failed1') %>
    </div>
    <h5>Level 2</h5>
    <div class='cont5'>
      <h6>Passed</h6>
      <%= Content.text('chkr_res_explanation2_passed2') %>
      <h6>Failed</h6>
      <%= Content.text('chkr_res_explanation2_failed2') %>
    </div>
    <h5>Level 3</h5>
    <div class='cont5'>
      <h6>Passed</h6>
      <%= Content.text('chkr_res_explanation2_passed3') %>
      <h6>Failed</h6>
      <%= Content.text('chkr_res_explanation2_failed3') %>
    </div>
  </div>
<hr>
</div>

<h3><a href='#crit' data-toggle='collapse'>Criteria indicators</a></h3>
<p class='desc'>These are the 5 sections corresponding to Food, Energy, HA, LU and EMR criteria. Each criterion has two states: passed and failed. Each of those entries has a title and a content.</p>
<div id='crit' class='cont3 collapse fade'>
  <h4>Food</h4>
  <div class='cont4'>
    <h5>Passed</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_foodsuc_t') %>
      <%= Content.text('chkr_sud_foodsuc_c') %>
    </div>
    <h5>Failed</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_foodfail_t') %>
      <%= Content.text('chkr_sud_foodfail_c') %>
    </div>
  </div>
  <h4>Energy</h4>
  <div class='cont4'>
    <h5>Passed</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_energysuc_t') %>
      <%= Content.text('chkr_sud_energysuc_c') %>
    </div>
    <h5>Failed</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_energyfail_t') %>
      <%= Content.text('chkr_sud_energyfail_c') %>
    </div>
  </div>
  <h4>HA</h4>
  <div class='cont4'>
    <h5>Passed</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_HAsuc_t') %>
      <%= Content.text('chkr_sud_HAsuc_c') %>
    </div>
    <h5>Failed</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_HAfail_t') %>
      <%= Content.text('chkr_sud_HAfail_c') %>
    </div>
  </div>
  <h4>LU</h4>
  <div class='cont4'>
    <h5>Passed</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_LUsuc_t') %>
      <%= Content.text('chkr_sud_LUsuc_c') %>
    </div>
    <h5>Failed</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_LUfail_t') %>
      <%= Content.text('chkr_sud_LUfail_c') %>
    </div>
  </div>
  <h4>EMR</h4>
  <div class='cont4'>
    <h5>Passed</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_EMRsuc_t') %>
      <%= Content.text('chkr_sud_EMRsuc_c') %>
    </div>
    <h5>Failed</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_EMRfail_t') %>
      <%= Content.text('chkr_sud_EMRfail_c') %>
    </div>
  </div>
<hr>
</div>

<h3><a href='#modals' data-toggle='collapse'>Modals Tooltips</a></h3>
<p class='desc'>These are the tooltips displayed when hovering the modal buttons in the header.</p>
<div id='modals' class='cont3 collapse fade'>
  <h4>Share</h4>
  <div class='cont4'>
    <p><%= Content.text('chkr_modal_share_t') %></p>
  </div>
  <h4>Help</h4>
  <div class='cont4'>
    <p><%= Content.text('chkr_modal_help_t') %></p>
  </div>
</div>
