<div id='uneditables'>
<br>
<a href='/admin-sudoku'>&#8617; Back to administration panel</a>
<h1>Uneditables</h1>
<hr>
<h3><a href='#navicons' data-toggle='collapse'>Navigation Icons Tooltips</a></h3>
<p class='desc'>These are the tooltips used in the navigation header icons. NO GLOSSARY HERE.</p>
<div id='navicons' class='cont3 collapse fade'>
  <h4><a href='#levels' data-toggle='collapse'>Levels</a></h4>
  <div class='cont4 collapse fade in' id='levels'>
    <p><%= Content.text('chkr_navtool_lvl1', @isMercury) %></p>
    <p><%= Content.text('chkr_navtool_lvl2', @isMercury) %></p>
    <p><%= Content.text('chkr_navtool_lvl3', @isMercury) %></p>
  </div>
  <h4><a href='#sections' data-toggle='collapse'>Sections</a></h4>
  <div class='cont4 collapse fade in' id='sections'>
    <p><%= Content.text('chkr_dem_title', @isMercury) %></p>
    <p><%= Content.text('chkr_die_title', @isMercury) %></p>
    <p><%= Content.text('chkr_hou_title', @isMercury) %></p>
    <p><%= Content.text('chkr_ser_title', @isMercury) %></p>
    <p><%= Content.text('chkr_lan_title', @isMercury) %></p>
    <p><%= Content.text('chkr_ind_title', @isMercury) %></p>
    <p><%= Content.text('chkr_agr_title', @isMercury) %></p>
    <p><%= Content.text('chkr_ene_title', @isMercury) %></p>
    <p><%= Content.text('chkr_check_title', @isMercury) %></p>
  </div>
  <h4><a href='#scrolltop' data-toggle='collapse'>Scroll Top button</a></h4>
  <div class='cont4 collapse fade in' id='scrolltop'>
    <p><%= Content.text('chkr_scrolltop_t', @isMercury) %></p>
  </div>
  <hr>
</div>

<h3><a href='#sliderimg' data-toggle='collapse'>Sliders Images</a></h3>
<p class='desc'>These are the images, tooltips and descriptions (main + subtitle) displayed besides sliders.</p>
<div id='sliderimg' class='cont3 collapse fade'>
  <h4><a href='#sihh' data-toggle='collapse'>Households</a></h4>
  <div class='cont4 collapse fade in' id='sihh'>
    <h5>0-50-50</h5>
    <div class='cont5'>
      <p><%= Content.text('sligm_chkr_hou_0-50-50_img', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_hou_0-50-50_imgcred', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_hou_0-50-50_desc', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_hou_0-50-50_descsub', @isMercury) %></p>
    </div>
    <h5>0-70-30l</h5>
    <div class='cont5'>
      <p><%= Content.text('sligm_chkr_hou_0-70-30l_img', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_hou_0-70-30l_imgcred', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_hou_0-70-30l_desc', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_hou_0-70-30l_descsub', @isMercury) %></p>
    </div>
    <h5>0-70-30h</h5>
    <div class='cont5'>
      <p><%= Content.text('sligm_chkr_hou_0-70-30h_img', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_hou_0-70-30h_imgcred', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_hou_0-70-30h_desc', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_hou_0-70-30h_descsub', @isMercury) %></p>
    </div>
    <h5>0-80-20</h5>
    <div class='cont5'>
      <p><%= Content.text('sligm_chkr_hou_0-80-20_img', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_hou_0-80-20_imgcred', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_hou_0-80-20_desc', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_hou_0-80-20_descsub', @isMercury) %></p>
    </div>
    <h5>30-70-0</h5>
    <div class='cont5'>
      <p><%= Content.text('sligm_chkr_hou_30-70-0_img', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_hou_30-70-0_imgcred', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_hou_30-70-0_desc', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_hou_30-70-0_descsub', @isMercury) %></p>
    </div>
    <h5>60-40-0</h5>
    <div class='cont5'>
      <p><%= Content.text('sligm_chkr_hou_60-40-0_img', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_hou_60-40-0_imgcred', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_hou_60-40-0_desc', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_hou_60-40-0_descsub', @isMercury) %></p>
    </div>
  </div>
  <h4><a href='#sisg' data-toggle='collapse'>Services</a></h4>
  <div class='cont4 collapse fade in' id='sisg'>
    <h5>Low</h5>
    <div class='cont5'>
      <p><%= Content.text('sligm_chkr_ser_low_img', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_ser_low_imgcred', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_ser_low_desc', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_ser_low_descsub', @isMercury) %></p>
    </div>
    <h5>Medium</h5>
    <div class='cont5'>
      <p><%= Content.text('sligm_chkr_ser_med_img', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_ser_med_imgcred', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_ser_med_desc', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_ser_med_descsub', @isMercury) %></p>
    </div>
    <h5>High</h5>
    <div class='cont5'>
      <p><%= Content.text('sligm_chkr_ser_high_img', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_ser_high_imgcred', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_ser_high_desc', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_ser_high_descsub', @isMercury) %></p>
    </div>
  </div>
  <h4><a href='#siele' data-toggle='collapse'>Electricity</a></h4>
  <div class='cont4 collapse fade in' id='siele'>
    <h5>Nuclear 100%</h5>
    <div class='cont5'>
      <p><%= Content.text('sligm_chkr_eneele_nuc100_img', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_eneele_nuc100_imgcred', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_eneele_nuc100_desc', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_eneele_nuc100_descsub', @isMercury) %></p>
    </div>
    <h5>Hydro 100%</h5>
    <div class='cont5'>
      <p><%= Content.text('sligm_chkr_eneele_hyd100_img', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_eneele_hyd100_imgcred', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_eneele_hyd100_desc', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_eneele_hyd100_descsub', @isMercury) %></p>
    </div>
    <h5>Wind 100%</h5>
    <div class='cont5'>
      <p><%= Content.text('sligm_chkr_eneele_win100_img', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_eneele_win100_imgcred', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_eneele_win100_desc', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_eneele_win100_descsub', @isMercury) %></p>
    </div>
    <h5>Photovoltaic 100%</h5>
    <div class='cont5'>
      <p><%= Content.text('sligm_chkr_eneele_pho100_img', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_eneele_pho100_imgcred', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_eneele_pho100_desc', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_eneele_pho100_descsub', @isMercury) %></p>
    </div>
    <h5>CSP 100%</h5>
    <div class='cont5'>
      <p><%= Content.text('sligm_chkr_eneele_csp100_img', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_eneele_csp100_imgcred', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_eneele_csp100_desc', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_eneele_csp100_descsub', @isMercury) %></p>
    </div>
    <h5>Nuclear 75%</h5>
    <div class='cont5'>
      <p><%= Content.text('sligm_chkr_eneele_nuc75_img', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_eneele_nuc75_imgcred', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_eneele_nuc75_desc', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_eneele_nuc75_descsub', @isMercury) %></p>
    </div>
    <h5>Hydro 75%</h5>
    <div class='cont5'>
      <p><%= Content.text('sligm_chkr_eneele_hyd75_img', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_eneele_hyd75_imgcred', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_eneele_hyd75_desc', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_eneele_hyd75_descsub', @isMercury) %></p>
    </div>
    <h5>Nuclear 0%</h5>
    <div class='cont5'>
      <p><%= Content.text('sligm_chkr_eneele_nuc0_img', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_eneele_nuc0_imgcred', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_eneele_nuc0_desc', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_eneele_nuc0_descsub', @isMercury) %></p>
    </div>
    <h5>Mixed</h5>
    <div class='cont5'>
      <p><%= Content.text('sligm_chkr_eneele_mixed_img', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_eneele_mixed_imgcred', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_eneele_mixed_desc', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_eneele_mixed_descsub', @isMercury) %></p>
    </div>
  </div>
  <h4><a href='#sifue' data-toggle='collapse'>Fuels</a></h4>
  <div class='cont4 collapse fade in' id='sifue'>
    <h5>Biofuel 75%</h5>
    <div class='cont5'>
      <p><%= Content.text('sligm_chkr_enefue_bio75_img', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_enefue_bio75_imgcred', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_enefue_bio75_desc', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_enefue_bio75_descsub', @isMercury) %></p>
    </div>
    <!--
    <h5>Hydrogen 75%</h5>
    <div class='cont5'>
      <p><%= Content.text('sligm_chkr_enefue_hyg75_img', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_enefue_hyg75_imgcred', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_enefue_hyg75_desc', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_enefue_hyg75_descsub', @isMercury) %></p>
    </div>
    -->
    <h5>NCF 75%</h5>
    <div class='cont5'>
      <p><%= Content.text('sligm_chkr_enefue_ncf75_img', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_enefue_ncf75_imgcred', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_enefue_ncf75_desc', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_enefue_ncf75_descsub', @isMercury) %></p>
    </div>
    <h5>Mixed</h5>
    <div class='cont5'>
      <p><%= Content.text('sligm_chkr_enefue_mixed_img', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_enefue_mixed_imgcred', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_enefue_mixed_desc', @isMercury) %></p>
      <p><%= Content.text('sligm_chkr_enefue_mixed_descsub', @isMercury) %></p>
    </div>
  </div>
  <hr>
</div>

<h3><a href='#radar' data-toggle='collapse'>Radar Tooltips</a></h3>
<p class='desc'>Each entry has a title and a content. NO GLOSSARY HERE.</p>
<div id='radar' class='cont3 collapse fade'>
  <h4><a href='#areas' data-toggle='collapse'>Areas</a></h4>
  <div class='cont4 collapse fade in' id='areas'>
    <h5>Quality</h5>
    <div class='cont5'>
      <%= Content.text('chkr_rdr_i1_t', @isMercury) %>
      <%= Content.text('chkr_rdr_i1_c', @isMercury) %>
    </div>
    <h5>Quantity</h5>
    <div class='cont5'>
      <%= Content.text('chkr_rdr_i2_t', @isMercury) %>
      <%= Content.text('chkr_rdr_i2_c', @isMercury) %>
    </div>
    <h5>Wage</h5>
    <div class='cont5'>
      <%= Content.text('chkr_rdr_i3_t', @isMercury) %>
      <%= Content.text('chkr_rdr_i3_c', @isMercury) %>
    </div>
    <h5>Jobs</h5>
    <div class='cont5'>
      <%= Content.text('chkr_rdr_i4_t', @isMercury) %>
      <%= Content.text('chkr_rdr_i4_c', @isMercury) %>
    </div>
    <h5>Land Use</h5>
    <div class='cont5'>
      <%= Content.text('chkr_rdr_i5_t', @isMercury) %>
      <%= Content.text('chkr_rdr_i5_c', @isMercury) %>
    </div>
    <h5>Soil Pollution</h5>
    <div class='cont5'>
      <%= Content.text('chkr_rdr_i6_t', @isMercury) %>
      <%= Content.text('chkr_rdr_i6_c', @isMercury) %>
    </div>
    <h5>Value Added</h5>
    <div class='cont5'>
      <%= Content.text('chkr_rdr_i7_t', @isMercury) %>
      <%= Content.text('chkr_rdr_i7_c', @isMercury) %>
    </div>
    <h5>Currency</h5>
    <div class='cont5'>
      <%= Content.text('chkr_rdr_i8_t', @isMercury) %>
      <%= Content.text('chkr_rdr_i8_c', @isMercury) %>
    </div>
  </div>
  <h4><a href='#sections2' data-toggle='collapse'>Sections</a></h4>
  <div class='cont4 collapse fade in' id='sections2'>
    <h5>International trade</h5>
    <div class='cont5'>
      <%= Content.text('chkr_rdr_G1_t', @isMercury) %>
      <%= Content.text('chkr_rdr_G1_c', @isMercury) %>
    </div>
    <h5>Society</h5>
    <div class='cont5'>
      <%= Content.text('chkr_rdr_G2_t', @isMercury) %>
      <%= Content.text('chkr_rdr_G2_c', @isMercury) %>
    </div>
    <h5>Environment</h5>
    <div class='cont5'>
      <%= Content.text('chkr_rdr_G3_t', @isMercury) %>
      <%= Content.text('chkr_rdr_G3_c', @isMercury) %>
    </div>
    <h5>Economic</h5>
    <div class='cont5'>
      <%= Content.text('chkr_rdr_G4_t', @isMercury) %>
      <%= Content.text('chkr_rdr_G4_c', @isMercury) %>
    </div>
  </div>
  <hr>
</div>

<h3><a href='#sudoku' data-toggle='collapse'>Sudoku Tooltips</a></h3>
<p class='desc'>Each entry has a title and a content. NO GLOSSARY HERE.</p>
<div id='sudoku' class='cont3 collapse fade'>
  <h4><a href='#fftitles' data-toggle='collapse'>Flow/Fund titles</a></h4>
  <div class='cont4 collapse fade in' id='fftitles'>
    <h5>Flows</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_flows_t', @isMercury) %>
      <%= Content.text('chkr_sud_flows_c', @isMercury) %>
    </div>
    <h5>Funds</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_funds_t', @isMercury) %>
      <%= Content.text('chkr_sud_funds_c', @isMercury) %>
    </div>
    <h5>Flow/Fund ratio</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_flowfund_t', @isMercury) %>
      <%= Content.text('chkr_sud_flowfund_c', @isMercury) %>
    </div>
    <h5>Food</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_food_t', @isMercury) %>
      <%= Content.text('chkr_sud_food_c', @isMercury) %>
    </div>
    <h5>Energy</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_energy_t', @isMercury) %>
      <%= Content.text('chkr_sud_energy_c', @isMercury) %>
    </div>
    <h5>HA</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_ha_t', @isMercury) %>
      <%= Content.text('chkr_sud_ha_c', @isMercury) %>
    </div>
    <h5>LU</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_lu_t', @isMercury) %>
      <%= Content.text('chkr_sud_lu_c', @isMercury) %>
    </div>
    <h5>EMR</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_emr_t', @isMercury) %>
      <%= Content.text('chkr_sud_emr_c', @isMercury) %>
    </div>
    <h5>FMD</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_fmd_t', @isMercury) %>
      <%= Content.text('chkr_sud_fmd_c', @isMercury) %>
    </div>
  </div>
  <h4><a href='#sdtitles' data-toggle='collapse'>Supply/Demand titles</a></h4>
  <div class='cont4 collapse fade in' id='sdtitles'>
    <h5>Consumption</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_consumption_t', @isMercury) %>
      <%= Content.text('chkr_sud_consumption_c', @isMercury) %>
    </div>
    <h5>Supply</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_supply_t', @isMercury) %>
      <%= Content.text('chkr_sud_supply_c', @isMercury) %>
    </div>
    <h5>WS</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_ws_t', @isMercury) %>
      <%= Content.text('chkr_sud_ws_c', @isMercury) %>
    </div>
    <h5>HH</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_hh_t', @isMercury) %>
      <%= Content.text('chkr_sud_hh_c', @isMercury) %>
    </div>
    <h5>SG</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_sg_t', @isMercury) %>
      <%= Content.text('chkr_sud_sg_c', @isMercury) %>
    </div>
    <h5>BM</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_bm_t', @isMercury) %>
      <%= Content.text('chkr_sud_bm_c', @isMercury) %>
    </div>
    <h5>AG</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_ag_t', @isMercury) %>
      <%= Content.text('chkr_sud_ag_c', @isMercury) %>
    </div>
    <h5>EM</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_em_t', @isMercury) %>
      <%= Content.text('chkr_sud_em_c', @isMercury) %>
    </div>
    <h5>Domestic Supply</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_domsup_t', @isMercury) %>
      <%= Content.text('chkr_sud_domsup_c', @isMercury) %>
    </div>
    <h5>Imports</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_imports_t', @isMercury) %>
      <%= Content.text('chkr_sud_imports_c', @isMercury) %>
    </div>
    <h5>Virtual Imports</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_vimports_t', @isMercury) %>
      <%= Content.text('chkr_sud_vimports_c', @isMercury) %>
    </div>
  </div>
  <hr>
</div>

<h3><a href='#expl' data-toggle='collapse'>Sustainability Explanations</a></h3>
<p class='desc'>These are the passed/failed explanation title and texts in the Check section. Title is at the top og the Check section. First paragraph is located right after the title, second one right after the graph/radar section. Each paragraph has six possible states: a passed/failed couple for each of the three levels.</p>
<div id='expl' class='cont3 collapse fade'>
  <h4><a href='#ttitle' data-toggle='collapse'>Title</a></h4>
  <div class='cont4 collapse fade in' id='ttitle'>
    <h5>Passed</h5>
    <div class='cont5'>
      <%= Content.text('chkr_res_title_passed', @isMercury) %>
    </div>
    <h5>Failed</h5>
    <div class='cont5'>
      <%= Content.text('chkr_res_title_failed', @isMercury) %>
    </div>
  </div>
  <h4><a href='#fp' data-toggle='collapse'>First paragraph</a></h4>
  <div class='cont4 collapse fade in' id='fp'>
    <h5>Level 1</h5>
    <div class='cont5'>
      <h6>Passed</h6>
      <%= Content.text('chkr_res_explanation1_passed1', @isMercury) %>
      <h6>Failed</h6>
      <%= Content.text('chkr_res_explanation1_failed1', @isMercury) %>
    </div>
    <h5>Level 2</h5>
    <div class='cont5'>
      <h6>Passed</h6>
      <%= Content.text('chkr_res_explanation1_passed2', @isMercury) %>
      <h6>Failed</h6>
      <%= Content.text('chkr_res_explanation1_failed2', @isMercury) %>
    </div>
    <h5>Level 3</h5>
    <div class='cont5'>
      <h6>Passed</h6>
      <%= Content.text('chkr_res_explanation1_passed3', @isMercury) %>
      <h6>Failed</h6>
      <%= Content.text('chkr_res_explanation1_failed3', @isMercury) %>
    </div>
  </div>
  <h4><a href='#sp' data-toggle='collapse'>Second paragraph</a></h4>
  <div class='cont4 collapse fade in' id='sp'>
    <h5>Level 1</h5>
    <div class='cont5'>
      <h6>Passed</h6>
      <%= Content.text('chkr_res_explanation2_passed1', @isMercury) %>
      <h6>Failed</h6>
      <%= Content.text('chkr_res_explanation2_failed1', @isMercury) %>
    </div>
    <h5>Level 2</h5>
    <div class='cont5'>
      <h6>Passed</h6>
      <%= Content.text('chkr_res_explanation2_passed2', @isMercury) %>
      <h6>Failed</h6>
      <%= Content.text('chkr_res_explanation2_failed2', @isMercury) %>
    </div>
    <h5>Level 3</h5>
    <div class='cont5'>
      <h6>Passed</h6>
      <%= Content.text('chkr_res_explanation2_passed3', @isMercury) %>
      <h6>Failed</h6>
      <%= Content.text('chkr_res_explanation2_failed3', @isMercury) %>
    </div>
  </div>
  <h4><a href='#tp' data-toggle='collapse'>Third paragraph</a></h4>
  <div class='cont4 collapse fade in' id='tp'>
    <h5>Level 1</h5>
    <div class='cont5'>
      <h6>Passed</h6>
      <%= Content.text('chkr_res_explanation3_passed1', @isMercury) %>
      <h6>Failed</h6>
      <%= Content.text('chkr_res_explanation3_failed1', @isMercury) %>
    </div>
    <h5>Level 2</h5>
    <div class='cont5'>
      <h6>Passed</h6>
      <%= Content.text('chkr_res_explanation3_passed2', @isMercury) %>
      <h6>Failed</h6>
      <%= Content.text('chkr_res_explanation3_failed2', @isMercury) %>
    </div>
    <h5>Level 3</h5>
    <div class='cont5'>
      <h6>Passed</h6>
      <%= Content.text('chkr_res_explanation3_passed3', @isMercury) %>
      <h6>Failed</h6>
      <%= Content.text('chkr_res_explanation3_failed3', @isMercury) %>
    </div>
  </div>
  <hr>
</div>

<h3><a href='#crit' data-toggle='collapse'>Criteria indicators</a></h3>
<p class='desc'>These are the 5 sections corresponding to Food, Energy, HA, LU and EMR criteria. Each criterion has two states: passed and failed. Each of those entries has a title and a content.</p>
<div id='crit' class='cont3 collapse fade'>
  <h4><a href='#food' data-toggle='collapse'>Food</a></h4>
  <div class='cont4 collapse fade in' id='food'>
    <h5>Passed</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_foodsuc_t', @isMercury) %>
      <%= Content.text('chkr_sud_foodsuc_c', @isMercury) %>
    </div>
    <h5>Failed</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_foodfail_t', @isMercury) %>
      <%= Content.text('chkr_sud_foodfail_c', @isMercury) %>
    </div>
  </div>
  <h4><a href='#energy' data-toggle='collapse'>Energy</a></h4>
  <div class='cont4 collapse fade in' id='energy'>
    <h5>Passed</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_energysuc_t', @isMercury) %>
      <%= Content.text('chkr_sud_energysuc_c', @isMercury) %>
    </div>
    <h5>Failed</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_energyfail_t', @isMercury) %>
      <%= Content.text('chkr_sud_energyfail_c', @isMercury) %>
    </div>
  </div>
  <h4><a href='#HA' data-toggle='collapse'>HA</a></h4>
  <div class='cont4 collapse fade in' id='HA'>
    <h5>Passed</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_HAsuc_t', @isMercury) %>
      <%= Content.text('chkr_sud_HAsuc_c', @isMercury) %>
    </div>
    <h5>Failed</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_HAfail_t', @isMercury) %>
      <%= Content.text('chkr_sud_HAfail_c', @isMercury) %>
    </div>
  </div>
  <h4><a href='#LU' data-toggle='collapse'>LU</a></h4>
  <div class='cont4 collapse fade in' id='LU'>
    <h5>Passed</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_LUsuc_t', @isMercury) %>
      <%= Content.text('chkr_sud_LUsuc_c', @isMercury) %>
    </div>
    <h5>Failed</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_LUfail_t', @isMercury) %>
      <%= Content.text('chkr_sud_LUfail_c', @isMercury) %>
    </div>
  </div>
  <h4><a href='#EMR' data-toggle='collapse'>EMR</a></h4>
  <div class='cont4 collapse fade in' id='EMR'>
    <h5>Passed</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_EMRsuc_t', @isMercury) %>
      <%= Content.text('chkr_sud_EMRsuc_c', @isMercury) %>
    </div>
    <h5>Failed</h5>
    <div class='cont5'>
      <%= Content.text('chkr_sud_EMRfail_t', @isMercury) %>
      <%= Content.text('chkr_sud_EMRfail_c', @isMercury) %>
    </div>
  </div>
  <hr>
</div>

<h3><a href='#modals' data-toggle='collapse'>Modals Tooltips</a></h3>
<p class='desc'>These are the tooltips displayed when hovering the modal buttons in the header. NO GLOSSARY HERE.</p>
<div id='modals' class='cont3 collapse fade'>
  <h4><a href='#share' data-toggle='collapse'>Share</a></h4>
  <div class='cont4 collapse fade in' id='share'>
    <p><%= Content.text('chkr_modal_share_t', @isMercury) %></p>
  </div>
  <h4><a href='#help' data-toggle='collapse'>Help</a></h4>
  <div class='cont4 collapse fade in' id='help'>
    <p><%= Content.text('chkr_modal_help_t', @isMercury) %></p>
  </div>
  <hr>
</div>

<h3><a href='#permahelp' data-toggle='collapse'>Permalink Help Modal</a></h3>
<p class='desc'>Modal displayed when following a Sudoku permalink.</p>
<div id='permahelp' class='cont3 collapse fade'>
  <h5>Title</h5>
  <div class='cont5'>
    <p><%= Content.text('modal_helppermalink_title', @isMercury) %></p>
  </div>
  <h5>Paragraph 1</h5>
  <div class='cont5'>
    <p><%= Content.text('modal_helppermalink_paragraph', @isMercury) %></p>
  </div>
  <h5>Paragraph 2</h5>
  <div class='cont5'>
    <p><%= Content.text('modal_helppermalink_paragraph2', @isMercury) %></p>
  </div>
  <h5>Close Text (besides buttons)</h5>
  <div class='cont5'>
    <p><%= Content.text('modal_helpperma_close_text_permalink', @isMercury) %></p>
  </div>
  <h5>Reset button</h5>
  <div class='cont5'>
    <p><%= Content.text('modal_help_permalinkreset', @isMercury) %></p>
  </div>
  <h5>Ok Load Settings Button</h5>
  <div class='cont5'>
    <p><%= Content.text('modal_help_okloadsettings', @isMercury) %></p>
  </div>
</div>

<h3><a href='#misc' data-toggle='collapse'>Miscellaneous</a></h3>
<p class='desc'>Items whose ID appear several times in the same page and thus cannot be edited live.</p>
<div id='misc' class='cont3 collapse fade'>
  <h4><a href='#helps' data-toggle='collapse'>Help Section (in Help modals)</a></h4>
  <div class='cont4 collapse fade in' id='helps'>
    <h5>Level1</h5>
    <div class='cont5'>
      <p><%= Content.text('modal_help_level1', @isMercury) %></p>
    </div>
    <h5>Level2</h5>
    <div class='cont5'>
      <p><%= Content.text('modal_help_level2', @isMercury) %></p>
    </div>
    <h5>Level3</h5>
    <div class='cont5'>
      <p><%= Content.text('modal_help_level3', @isMercury) %></p>
    </div>
    <h5>Demographics</h5>
    <div class='cont5'>
      <p><%= Content.text('modal_help_dem', @isMercury) %></p>
    </div>
    <h5>Diet</h5>
    <div class='cont5'>
      <p><%= Content.text('modal_help_die', @isMercury) %></p>
    </div>
    <h5>Households</h5>
    <div class='cont5'>
      <p><%= Content.text('modal_help_hou', @isMercury) %></p>
    </div>
    <h5>Service</h5>
    <div class='cont5'>
      <p><%= Content.text('modal_help_ser', @isMercury) %></p>
    </div>
    <h5>Land</h5>
    <div class='cont5'>
      <p><%= Content.text('modal_help_lan', @isMercury) %></p>
    </div>
    <h5>BM</h5>
    <div class='cont5'>
      <p><%= Content.text('modal_help_bm', @isMercury) %></p>
    </div>
    <h5>Agriculture</h5>
    <div class='cont5'>
      <p><%= Content.text('modal_help_agr', @isMercury) %></p>
    </div>
    <h5>Energy</h5>
    <div class='cont5'>
      <p><%= Content.text('modal_help_ene', @isMercury) %></p>
    </div>
    <h5>Check</h5>
    <div class='cont5'>
      <p><%= Content.text('modal_help_check', @isMercury) %></p>
    </div>
  </div>
  <h4><a href='#sstitles' data-toggle='collapse'>Sliders title & description</a></h4>
  <div class='cont4 collapse fade in' id='sstitles'>
    <h5>Households</h5>
    <p><%= Content.text('chkr_hou_slidergroup_urbrur', @isMercury) %></p>
    <p><%= Content.text('chkr_hou_slidergroup_subapaslu', @isMercury) %></p>
    <div class='cont5'>
      <h6>Urban</h6>
      <p><%= Content.text('chkr_hou_urb', @isMercury) %></p>
      <h6>Rural</h6>
      <p><%= Content.text('chkr_hou_rur', @isMercury) %></p>
      <h6>Rich suburbs</h6>
      <p><%= Content.text('chkr_hou_sub', @isMercury) %></p>
      <h6>Middle-class apartments</h6>
      <p><%= Content.text('chkr_hou_apa', @isMercury) %></p>
      <h6>Slums</h6>
      <p><%= Content.text('chkr_hou_slu', @isMercury) %></p>
    </div>
    <h5>Services</h5>
    <div class='cont5'>
      <h6>Education & Healthcare</h6>
      <p><%= Content.text('chkr_ser_edu', @isMercury) %></p>
      <h6>Media, Entertainment, Tourism</h6>
      <p><%= Content.text('chkr_ser_med', @isMercury) %></p>
      <h6>Public Institutions, Government, Military</h6>
      <p><%= Content.text('chkr_ser_pub', @isMercury) %></p>
      <h6>Transportation, Retailing</h6>
      <p><%= Content.text('chkr_ser_tra', @isMercury) %></p>
    </div>
    <h5>Electricity</h5>
    <p><%= Content.text('chkr_ene_slidergroup_ele', @isMercury) %></p>
    <div class='cont5'>
      <h6>Nuclear</h6>
      <p><%= Content.text('chkr_ene_nuc', @isMercury) %></p>
      <h6>Hydropower</h6>
      <p><%= Content.text('chkr_ene_hyd', @isMercury) %></p>
      <h6>Wind Power</h6>
      <p><%= Content.text('chkr_ene_win', @isMercury) %></p>
      <h6>Photovoltaics</h6>
      <p><%= Content.text('chkr_ene_pho', @isMercury) %></p>
      <h6>Concentrated Solar Power</h6>
      <p><%= Content.text('chkr_ene_csp', @isMercury) %></p>
    </div>
    <h5>Fuel</h5>
    <p><%= Content.text('chkr_ene_slidergroup_fue', @isMercury) %></p>
    <div class='cont5'>
      <h6>Biofuels</h6>
      <p><%= Content.text('chkr_ene_bio', @isMercury) %></p>
      <h7>Description (level 1)</h7>
      <p><%= Content.text('chkr_ene_bio_descsub_1', @isMercury) %></p>
      <h7>Description (level 2)</h7>
      <p><%= Content.text('chkr_ene_bio_descsub_2', @isMercury) %></p>
      <h7>Description (level 3)</h7>
      <p><%= Content.text('chkr_ene_bio_descsub_3', @isMercury) %></p>
      <!--<h6>Hydrogen</h6>
      <p><%= Content.text('chkr_ene_hyg', @isMercury) %></p>-->
      <h6>Non-conventional fossile resources</h6>
      <p><%= Content.text('chkr_ene_ncf', @isMercury) %></p>
      <h7>Description (level 1)</h7>
      <p><%= Content.text('chkr_ene_ncf_descsub_1', @isMercury) %></p>
      <h7>Description (level 2)</h7>
      <p><%= Content.text('chkr_ene_ncf_descsub_2', @isMercury) %></p>
      <h7>Description (level 3)</h7>
      <p><%= Content.text('chkr_ene_ncf_descsub_3', @isMercury) %></p>
    </div>
  </div>  
</div> 
