<div class='header'>
  <div class='header-menu'>
    <div class='menu-wrapper'>
      <div class='menu-btn'>
        <i class='fa fa-leaf fa-4x'></i>
      </div>
    </div>
    <div class='menu-nav'>
    <!-- Demand -->
      <div class='menu-nav-box demand'>
        <div class='menu-nav-title'>
          Demand
        </div>
        <div class='menu-nav-content'>
          <div class='menu-nav-item space'>&nbsp;</div>
          <!-- Demographics -->
          <a href=<%= checker_path(anchor: 'demographics') %>>
            <div class='menu-nav-item icon' title="Demographics"><i class='fa fa-globe'></i></div>
          </a>
          <div class='menu-nav-item line'>&nbsp;</div>
          <!-- Diet -->
          <a href=<%= checker_path(anchor: 'diet') %>>
            <div class='menu-nav-item icon' title="Diet"><i class='fa fa-cutlery'></i></div>
          </a>
          <div class='menu-nav-item line'>&nbsp;</div>
          <!-- Households -->
          <a href=<%= checker_path(anchor: 'households') %>>
            <div class='menu-nav-item icon' title="Households"><i class='fa fa-home'></i></div>
          </a>
          <div class='menu-nav-item line'>&nbsp;</div>
          <!-- Services -->
          <a href=<%= checker_path(anchor: 'services') %>>
            <div class='menu-nav-item icon' title="Services"><i class='fa fa-medkit'></i></div>
          </a>
          <div class='menu-nav-item line'>&nbsp;</div>
        </div>
      </div>
      <!-- Supply -->
      <div class='menu-nav-box supply'>
        <div class='menu-nav-title'>
          Supply
        </div>
        <div class='menu-nav-content'>
          <div class='menu-nav-item line'>&nbsp;</div>
          <!-- Density -->
          <a href=<%= checker_path(anchor: 'density') %>>
            <div class='menu-nav-item icon' title="Density"><i class='fa fa-group'></i></div>
          </a>
          <div class='menu-nav-item line'>&nbsp;</div>
          <!-- Agriculture -->
          <a href=<%= checker_path(anchor: 'agriculture') %>>
            <div class='menu-nav-item icon' title="Agriculture"><i class='fa fa-leaf'></i></div>
          </a>
          <div class='menu-nav-item line'>&nbsp;</div>
          <!-- Energy -->
          <a href=<%= checker_path(anchor: 'energy') %>>
            <div class='menu-nav-item icon' title="Energy"><i class='fa fa-bolt'></i></div>
          </a>
          <div class='menu-nav-item line'>&nbsp;</div>
          <!-- Industrialization -->
          <a href=<%= checker_path(anchor: 'industrialization') %>>
            <div class='menu-nav-item icon' title="Industrialization"><i class='fa fa-truck'></i></div>
          </a>
          <div class='menu-nav-item line'></div>
        </div>
      </div>
      <!-- Check -->
      <div class='menu-nav-box check'>
        <div class='menu-nav-title'>
          Check
        </div>
        <div class='menu-nav-content'>
          <div class='menu-nav-item line'>&nbsp;</div>
          <a href="/checker/check">
            <div class='menu-nav-item checkicon' title="Check"><i class='fa fa-check'></i></div>
          </a>
          <div class='menu-nav-item space'>&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
  <div class='header-user'>
    ID: <%= @experiment.id %>
  </div>
  <div id='uid' class='hidden'><%= @experiment.id %></div>
</div>