<div class='row'>
  <div class='col-sm-6 index-intro'>
    <h1><%= Content.text('index_hero_title', @isMercury) %></h1>
    <p>
      <%= Content.text('index_hero_desc', @isMercury) %>
    </p>
    <p class='text-center'>
      <a href='/level1' class='more capitalize'>Start the experience now!<span><i class='fa fa-chevron-right'></i></span></a>
    </p>
  </div>
  <div class='col-sm-6 index-logo'>
      <% if !@isMercury %>
        <img src='<%= Content.text('home_img_homesplash', @isMercury, 'raw')%>' title='<%= Content.text('home_imgcred_homesplash', @isMercury, 'raw')%>'><br>
      <% else %>
        Image URL + credit (editor only):
        <%= Content.text('home_img_homesplash', @isMercury)%>
        <%= Content.text('home_imgcred_homesplash', @isMercury)%>
      <% end %>
  </div>
</div>
<div class='divider'></div>
<div class='row'>
  <div class='col-sm-6 index-playsudoku'>
    <a href='/level1' class='capitalize'>
      <% if !@isMercury %>
        <img src='<%= Content.text('home_img_sudokuprev', @isMercury, 'raw')%>' title='<%= Content.text('home_imgcred_sudokuprev', @isMercury, 'raw')%>'><br>
      <% else %>
        Image URL + credit (editor only):
        <%= Content.text('home_img_sudokuprev', @isMercury)%>
        <%= Content.text('home_imgcred_sudokuprev', @isMercury)%>
      <% end %>
      <span class='more'>Play the Sustainability Sudoku now<span><i class='fa fa-chevron-right'></i></span></span>
    </a>
    <p>
      <%= Content.text('index_play_desc', @isMercury) %>
    </p>
  </div>
  <div class='col-sm-6 index-about'>
    <h2><%= Content.text('index_about_title', @isMercury) %></h2>
    <ul>
      <li>
        <h3><%= Content.text('index_about_1_title', @isMercury) %></h3>
        <p>
          <%= Content.text('index_about_1_desc', @isMercury) %>
        </p>
        <a href='/more#narratives' class='more capitalize'>Read more<span><i class='fa fa-chevron-right'></i></span></a>
      </li>
      <li>
        <h3><%= Content.text('index_about_2_title', @isMercury) %></h3>
        <p>
          <%= Content.text('index_about_2_desc', @isMercury) %>
        </p>
        <a href='/more#humansocieties' class='more capitalize'>Read more<span><i class='fa fa-chevron-right'></i></span></a>
      </li>
    </ul>
  </div>
</div>
<div class='divider'></div>
<div class='row'>
  <div class='col-md-4'>
    <a class="twitter-timeline" href="https://twitter.com/hashtag/thesustainabilitysudoku" data-widget-id="492257489564340225">Tweets #thesustainabilitysudoku</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  <div class='col-md-8'>
    <h2><%= Content.text('index_twitter_aside_title', @isMercury) %></h2>
    <p><%= Content.text('index_twitter_aside_desc', @isMercury) %></p>
  </div>
</div>
