<div class='row'>
  <div class='col-sm-6 index-intro'>
    <%= @isMercury %>
    <h1><%= Content.text('index_hero_title') %></h1>
    <p>
      <%= Content.text('index_hero_desc') %>
    </p>
    <p class='text-center'>
      <a href='/level1' class='more'>Start the experience now!<span><i class='fa fa-chevron-right'></i></span></a>
    </p>
  </div>
  <div class='col-sm-6 index-logo'>
      <% if !@isMercury %>
        <img src='<%= Content.text('home_img_homesplash', 'raw')%>'><br>
      <% else %>
        Image URL + credit (editor only):
        <%= Content.text('home_img_homesplash')%>
        <%= Content.text('home_imgcred_homesplash')%>
      <% end %>
  </div>
</div>
<div class='divider'></div>
<div class='row'>
  <div class='col-sm-6 index-playsudoku'>
    <a href='/level1'>
      <% if !@isMercury %>
        <img src='<%= Content.text('home_img_sudokuprev', 'raw')%>'><br>
      <% else %>
        Image URL + credit (editor only):
        <%= Content.text('home_img_sudokuprev')%>
        <%= Content.text('home_imgcred_sudokuprev')%>
      <% end %>
      <span class='more'>Play the Sustainability Sudoku now<span><i class='fa fa-chevron-right'></i></span></span>
    </a>
    <p>
      <%= Content.text('index_play_desc') %>
    </p>
  </div>
  <div class='col-sm-6 index-about'>
    <h2><%= Content.text('index_about_title') %></h2>
    <ul>
      <li>
        <h3><%= Content.text('index_about_1_title') %></h3>
        <p>
          <%= Content.text('index_about_1_desc') %>
        </p>
        <a href='/more#narratives' class='more'>Read more<span><i class='fa fa-chevron-right'></i></span></a>
      </li>
      <li>
        <h3><%= Content.text('index_about_2_title') %></h3>
        <p>
          <%= Content.text('index_about_2_desc') %>
        </p>
        <a href='/more#humansocieties' class='more'>Read more<span><i class='fa fa-chevron-right'></i></span></a>
      </li>
    </ul>
  </div>
</div>
