<div class='row'>
  <div class='col-sm-6 index-intro'>
    <h1><%= Content.text('index_hero_title') %></h1>
    <p>
      <%= Content.text('index_hero_desc') %>
    </p>
    <p class='text-center'>
      <a href='/level1' class='more'><%= Content.text('index_hero_start', 'simple') %><span><i class='fa fa-chevron-right'></i></span></a>
    </p>
  </div>
  <div class='col-sm-6 index-logo'>
    <img src='http://dummyimage.com/360x200/bfbfff/333.png&text=LOGO'>
  </div>
</div>
<div class='divider'></div>
<div class='row'>
  <div class='col-sm-6 index-playsudoku'>
    <a href='/level1'>
      <img src='http://dummyimage.com/360x200/bfbfff/333.png&text=Sudoku preview'><br>
      <span class='more'><%= Content.text('index_play_link', 'simple') %><span><i class='fa fa-chevron-right'></i></span></span>
    </a>
    <p>
      <%= Content.text('index_play_desc') %>
    </p>
  </div>
  <div class='col-sm-6 index-about'>
    <h2><%= Content.text('index_about_title') %></h2>
    <ul>
      <li>
        <h3><%= Content.text('index_about_1_title') %></h3>
        <p>
          <%= Content.text('index_about_1_desc') %>
        </p>
        <a href='/more#narratives' class='more'><%= Content.text('read_more', 'simple') %><span><i class='fa fa-chevron-right'></i></span></a>
      </li>
      <li>
        <h3><%= Content.text('index_about_2_title') %></h3>
        <p>
          <%= Content.text('index_about_2_desc') %>
        </p>
        <a href='/more#humansocieties' class='more'><%= Content.text('read_more', 'simple') %><span><i class='fa fa-chevron-right'></i></span></a>
      </li>
    </ul>
  </div>
</div>
