<h2><%= Content.text('more_about_title') %></h2>
<div class='row' id='narratives'>
  <div class='col-sm-8 more-section'>
    <h3><%= Content.text('more_about_1_title') %></h3>
    <p><%= Content.text('more_about_1_desc') %></p>
  </div>
  <div class='col-sm-4 more-image'>
    <img src='http://dummyimage.com/360x200/bfbfff/333.png&text=Placeholder'><br>
  </div>
</div>
<div class='more-divider'></div>
<div class='row' id='humansocieties'>
  <div class='col-sm-4 more-image'>
    <img src='http://dummyimage.com/360x200/bfbfff/333.png&text=Placeholder'><br>
  </div>
  <div class='col-sm-8 more-section'>
    <h3><%= Content.text('more_about_2_title') %></h3>
    <p><%= Content.text('more_about_2_desc') %></p>
  </div>
</div>
<div class='divider'></div>
<h2><%= Content.text('more_how_title') %></h2>
<div class='row' id='metabolicpattern'>
  <div class='col-sm-8 more-section'>
    <h3><%= Content.text('more_how_1_title') %></h3>
    <p><%= Content.text('more_how_1_desc') %></p>
  </div>
  <div class='col-sm-4 more-image'>
    <img src='http://dummyimage.com/360x200/bfbfff/333.png&text=Placeholder'><br>
  </div>
</div>
<div class='more-divider'></div>
<div class='row' id='musiasem'>
  <div class='col-sm-4 more-image'>
    <img src='http://dummyimage.com/360x200/bfbfff/333.png&text=Placeholder'><br>
  </div>
  <div class='col-sm-8 more-section'>
    <h3><%= Content.text('more_how_2_title') %></h3>
    <p><%= Content.text('more_how_2_desc') %></p>
  </div>
</div>
