<h2><%= Content.text('more_about_title') %></h2>
<div class='row' id='narratives'>
  <div class='col-sm-8 more-section'>
    <h3><%= Content.text('more_about_1_title') %></h3>
    <p><%= Content.text('more_about_1_desc') %></p>
  </div>
  <div class='col-sm-4 more-image'>
    <% if !@isMercury %>
      <img src='<%= Content.text('more_img_1', 'raw')%>'><br>
    <% else %>
      Image URL + credit (editor only):
      <%= Content.text('more_img_1')%>
      <%= Content.text('more_imgcred_1')%>
    <% end %>
  </div>
</div>
<div class='more-divider'></div>
<div class='row' id='humansocieties'>
  <div class='col-sm-4 more-image'>
    <% if !@isMercury %>
      <img src='<%= Content.text('more_img_2', 'raw')%>'><br>
    <% else %>
      Image URL + credit (editor only):
      <%= Content.text('more_img_2')%>
      <%= Content.text('more_imgcred_2')%>
    <% end %>
  </div>
  <div class='col-sm-8 more-section'>
    <h3><%= Content.text('more_about_2_title') %></h3>
    <p><%= Content.text('more_about_2_desc') %></p>
  </div>
</div>
<div class='divider'></div>
<h2><%= Content.text('more_how_title') %></h2>
<div class='row' id='metabolicpattern'>
  <div class='col-sm-8 more-section'>
    <h3><%= Content.text('more_how_1_title') %></h3>
    <p><%= Content.text('more_how_1_desc') %></p>
  </div>
  <div class='col-sm-4 more-image'>
    <% if !@isMercury %>
      <img src='<%= Content.text('more_img_3', 'raw')%>'><br>
    <% else %>
      Image URL + credit (editor only):
      <%= Content.text('more_img_3')%>
      <%= Content.text('more_imgcred_3')%>
    <% end %>
  </div>
</div>
<div class='more-divider'></div>
<div class='row' id='musiasem'>
  <div class='col-sm-4 more-image'>
    <% if !@isMercury %>
      <img src='<%= Content.text('more_img_4', 'raw')%>'><br>
    <% else %>
      Image URL + credit (editor only):
      <%= Content.text('more_img_4')%>
      <%= Content.text('more_imgcred_4')%>
    <% end %>
  </div>
  <div class='col-sm-8 more-section'>
    <h3><%= Content.text('more_how_2_title') %></h3>
    <p><%= Content.text('more_how_2_desc') %></p>
  </div>
</div>
