<div class='level3-overlay'>
  <div class='level3-toggle-cont'>
    <div class='level3-toggle right'></div>
  </div>
  <div class='level3-info'>
    This is where the real-time Sudoku will be shown
  </div>
</div>

<!-- BEGIN SECTION INTRO -->
<div class='section' id='intro' data-section-slug='intro'>
  <div class='section-wrapper'>
    <h2>Welcome to level 3!</h2>
    <div class='description'>
      <p>In this expert level, you will...</p>
    </div><br>
    <div class='text-center'>
      <a href='#demographics' class='nav-link'>
        <div class='btn btn-lg btn-primary'><%= Content.text('chkr_start_btn') %></div>
      </a>
    </div>
  </div>
</div>

<!-- BEGIN SECTION DEMOGRAPHICS -->
<div class='section' id='demographics' data-section-slug='d_dem'>
  <div class='section-wrapper'>
    <h2><%= Content.text('chkr_dem_title', 'simple') %><small><%= Content.text('chkr_dem_subtitle', 'simple') %></small></h2>
    <div class='description'>
      <%= Content.text('chkr_dem_desc') %>
    </div>
    <div class='choice radio' data-choice-type='radio'>
      <div class='radio-row'>
        <div class='cell lg-4' data-cv-value='low'>
          <%= Content.text('chkr_dem_low_i', 'image') %>
          <span class='text'><%= Content.text('chkr_dem_low_t') %></span>
          <small><%= Content.text('chkr_dem_low_c') %></small>
        </div>
        <div class='cell lg-4' data-cv-value='med'>
          <%= Content.text('chkr_dem_med_i', 'image') %>
          <span class='text'><%= Content.text('chkr_dem_med_t') %></span>
          <small><%= Content.text('chkr_dem_med_c') %></small>
        </div>
        <div class='cell lg-4' data-cv-value='high'>
          <%= Content.text('chkr_dem_high_i', 'image') %>
          <span class='text'><%= Content.text('chkr_dem_high_t') %></span>
          <small><%= Content.text('chkr_dem_high_c') %></small>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- BEGIN SECTION DIET -->
<div class='section' id='diet' data-section-slug='d_die'>
  <div class='section-wrapper'>
    <h2><%= Content.text('chkr_die_title', 'simple') %><small><%= Content.text('chkr_die_subtitle', 'simple') %></small></h2>
    <div class='description'>
      <%= Content.text('chkr_die_desc') %>
    </div>
    <div class='choice radio' data-choice-type='radio'>
      <div class='radio-row'>
        <div class='cell lg-4' data-cv-value='low'>
          <%= Content.text('chkr_die_low_i', 'image') %>
          <span class='text'><%= Content.text('chkr_die_low_t') %></span>
          <small><%= Content.text('chkr_die_low_c') %></small>
        </div>
        <div class='cell lg-4' data-cv-value='med'>
          <%= Content.text('chkr_die_med_i', 'image') %>
          <span class='text'><%= Content.text('chkr_die_med_t') %></span>
          <small><%= Content.text('chkr_die_med_c') %></small>
        </div>
        <div class='cell lg-4' data-cv-value='high'>
          <%= Content.text('chkr_die_high_i', 'image') %>
          <span class='text'><%= Content.text('chkr_die_high_t') %></span>
          <small><%= Content.text('chkr_die_high_c') %></small>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- BEGIN SECTION HOUSEHOLDS -->
<div class='section' id='households' data-section-slug='d_hou'>
  <div class='section-wrapper'>
    <h2><%= Content.text('chkr_hou_title', 'simple') %><small><%= Content.text('chkr_hou_subtitle', 'simple') %></small></h2>
    <div class='choice'>
      <div class='description'>
        <%= Content.text('chkr_hou_desc') %>
      </div>
      <div data-choice-type='slidergroup'>
        <!-- SLIDER URBAN -->
        <%= Content.text('chkr_hou_urb') %>
        <div class='slider' data-slider-name='d_hou_urb'></div>
        <!-- SLIDER RURAL -->
        <%= Content.text('chkr_hou_rur') %>
        <div class='slider' data-slider-name='d_hou_rur'></div>
      </div>
    </div>
      <div class='description'>
       <%= Content.text('chkr_hou_desc2') %>
      </div>
    <div data-choice-type='slidergroup'>
      <div><!-- SLIDER SUB -->
        <%= Content.text('chkr_hou_sub') %>
        <div class='slider' data-slider-name='d_hou_sub'></div>
      </div>
      <div><!-- SLIDER APA -->
        <%= Content.text('chkr_hou_apa') %>
        <div class='slider' data-slider-name='d_hou_apa'></div> 
      </div>
      <div><!-- SLIDER SLU -->
        <%= Content.text('chkr_hou_slu') %>
        <div class='slider' data-slider-name='d_hou_slu'></div> 
      </div>
    </div>
    <div class='text-center'>
      <a href='#services' class='nav-link'><div class='btn btn-primary btn-lg'>Next</div></a>
    </div>
  </div>
</div>

<!-- BEGIN SECTION SERVICES -->
<div class='section' id='services' data-section-slug='d_ser'>
  <div class='section-wrapper'>
    <h2><%= Content.text('chkr_ser_title', 'simple') %><small><%= Content.text('chkr_ser_subtitle', 'simple') %></small></h2>
    <div class='description'>
      <%= Content.text('chkr_ser_desc') %>
    </div>
    <div class='choice'>
      <div data-choice-type='slider'>    
        <%= Content.text('chkr_ser_edu') %>
        <div class='slider' data-slider-name='d_ser_edu'></div>
      </div>
      <div data-choice-type='slider'>    
        <%= Content.text('chkr_ser_med') %>
        <div class='slider' data-slider-name='d_ser_med'></div>
      </div>
      <div data-choice-type='slider'>    
        <%= Content.text('chkr_ser_pub') %>
        <div class='slider' data-slider-name='d_ser_pub'></div>
      </div>
      <div data-choice-type='slider'>    
        <%= Content.text('chkr_ser_tra') %>
        <div class='slider' data-slider-name='d_ser_tra'></div>
      </div>
    </div>
    <div class='text-center'>
      <a href='#density' class='nav-link'><div class='btn btn-primary btn-lg'>Next</div></a>
    </div>
  </div>
</div>

<!-- BEGIN SECTION DENSITY -->
<div class='section' id='density' data-section-slug='s_den'>
  <div class='section-wrapper'>
    <h2><%= Content.text('chkr_den_title', 'simple') %><small><%= Content.text('chkr_den_subtitle', 'simple') %></small></h2>
    <div class='description'>
      <%= Content.text('chkr_den_desc') %>
    </div>
    <div class='choice radio' data-choice-type='radio'>
      <div class='radio-row'>
        <div class='cell lg-4' data-cv-value='low'>
          <%= Content.text('chkr_den_low_i', 'image') %>
          <span class='text'><%= Content.text('chkr_den_low_t') %></span>
          <small><%= Content.text('chkr_den_low_c') %></small>
        </div>
        <div class='cell lg-4' data-cv-value='med'>
          <%= Content.text('chkr_den_med_i', 'image') %>
          <span class='text'><%= Content.text('chkr_den_med_t') %></span>
          <small><%= Content.text('chkr_den_med_c') %></small>
        </div>
        <div class='cell lg-4' data-cv-value='high'>
          <%= Content.text('chkr_den_high_i', 'image') %>
          <span class='text'><%= Content.text('chkr_den_high_t') %></span>
          <small><%= Content.text('chkr_den_high_c') %></small>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- BEGIN SECTION LAND -->
<div class='section' id='land' data-section-slug='s_lan'>
  <div class='section-wrapper'>
    <h2><%= Content.text('chkr_lan_title', 'simple') %><small><%= Content.text('chkr_lan_subtitle', 'simple') %></small></h2>
    <div class='description'>
      <%= Content.text('chkr_lan_desc') %>
    </div>
    <div class='choice radio' data-choice-type='radio'>
      <div class='radio-row'>
        <div class='cell lg-4' data-cv-value='low'>
          <%= Content.text('chkr_lan_low_i', 'image') %>
          <span class='text'><%= Content.text('chkr_lan_low_t') %></span>
          <small><%= Content.text('chkr_lan_low_c') %></small>
        </div>
        <div class='cell lg-4' data-cv-value='med'>
          <%= Content.text('chkr_lan_med_i', 'image') %>
          <span class='text'><%= Content.text('chkr_lan_med_t') %></span>
          <small><%= Content.text('chkr_lan_med_c') %></small>
        </div>
        <div class='cell lg-4' data-cv-value='high'>
          <%= Content.text('chkr_lan_high_i', 'image') %>
          <span class='text'><%= Content.text('chkr_lan_high_t') %></span>
          <small><%= Content.text('chkr_lan_high_c') %></small>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- BEGIN SECTION BM -->
<div class='section' id='bm' data-section-slug='s_bm'>
  <div class='section-wrapper'>
    <h2><%= Content.text('chkr_ind_title', 'simple') %><small><%= Content.text('chkr_ind_subtitle', 'simple') %></small></h2>
    <div class='description'>
      <%= Content.text('chkr_ind_desc') %>
    </div>
    <div class='choice radio' data-choice-type='radio'>
      <div class='radio-row'>
        <div class='cell lg-4' data-cv-value='low'>
          <%= Content.text('chkr_ind_low_i', 'image') %>
          <span class='text'><%= Content.text('chkr_ind_low_t') %></span>
          <small><%= Content.text('chkr_ind_low_c') %></small>
        </div>
        <div class='cell lg-4' data-cv-value='med'>
          <%= Content.text('chkr_ind_med_i', 'image') %>
          <span class='text'><%= Content.text('chkr_ind_med_t') %></span>
          <small><%= Content.text('chkr_ind_med_c') %></small>
        </div>
        <div class='cell lg-4' data-cv-value='high'>
          <%= Content.text('chkr_ind_high_i', 'image') %>
          <span class='text'><%= Content.text('chkr_ind_high_t') %></span>
          <small><%= Content.text('chkr_ind_high_c') %></small>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- BEGIN SECTION AGRICULTURE -->
<div class='section' id='agriculture' data-section-slug='s_agr'>
  <div class='section-wrapper'>
    <h2><%= Content.text('chkr_agr_title', 'simple') %><small><%= Content.text('chkr_agr_subtitle', 'simple') %></small></h2>
    <div class='description'>
      <%= Content.text('chkr_agr_desc') %>
    </div>
    <div class='choice radio' data-choice-type='radio'>
      <div class='radio-row'>
        <div class='cell lg-4' data-cv-value='low'>
          <%= Content.text('chkr_agr_low_i', 'image') %>
          <span class='text'><%= Content.text('chkr_agr_low_t') %></span>
          <small><%= Content.text('chkr_agr_low_c') %></small>
        </div>
        <div class='cell lg-4' data-cv-value='med'>
          <%= Content.text('chkr_agr_med_i', 'image') %>
          <span class='text'><%= Content.text('chkr_agr_med_t') %></span>
          <small><%= Content.text('chkr_agr_med_c') %></small>
        </div>
        <div class='cell lg-4' data-cv-value='high'>
          <%= Content.text('chkr_agr_high_i', 'image') %>
          <span class='text'><%= Content.text('chkr_agr_high_t') %></span>
          <small><%= Content.text('chkr_agr_high_c') %></small>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- BEGIN SECTION ENERGY -->
<div class='section' id='energy' data-section-slug='s_ene'>
  <div class='section-wrapper'>
    <h2><%= Content.text('chkr_ene_title', 'simple') %><small><%= Content.text('chkr_ene_subtitle', 'simple') %></small></h2>
    <div class='description'>
      <%= Content.text('chkr_ene_desc') %>
    </div>
    <div class='choice'>
      <strong><%= Content.text('chkr_ene_ele') %></strong>
      <div data-choice-type='slidergroup'>
        <div><%= Content.text('chkr_ene_nuc') %>
          <div class='slider' data-slider-name='s_ene_nuc'></div>
        </div>
        <div><%= Content.text('chkr_ene_hyd') %>
          <div class='slider' data-slider-name='s_ene_hyd'></div>
        </div>
        <div><%= Content.text('chkr_ene_win') %>
          <div class='slider' data-slider-name='s_ene_win'></div>
       </div>
        <div><%= Content.text('chkr_ene_pho') %>
          <div class='slider' data-slider-name='s_ene_pho'></div>
       </div>
        <div><%= Content.text('chkr_ene_csp') %>
          <div class='slider' data-slider-name='s_ene_csp'></div>
       </div>
      </div>
      <strong><%= Content.text('chkr_ene_fue') %></strong>
      <div data-choice-type='slidergroup'>
        <div><%= Content.text('chkr_ene_bio') %>
          <div class='slider' data-slider-name='s_ene_bio'></div>
        </div>
        <div><%= Content.text('chkr_ene_hyg') %>
          <div class='slider' data-slider-name='s_ene_hyg'></div>
        </div>
        <div><%= Content.text('chkr_ene_ncf') %>
          <div class='slider' data-slider-name='s_ene_ncf'></div>
        </div>
      </div>
    </div>
    <div class='text-center'>
      <a href='#check' class='nav-link'><div class='btn btn-primary btn-lg'>Next</div></a>
    </div>
  </div>
</div>
