<!-- navarrows -->
<a href='<%= demand_path(anchor: 'households') %>'>
  <div class='navarrow navarrow-left'>
    <i class="fa fa-chevron-left fa-4x"></i>
  </div>    
</a>
<a href='<%= check_path %>'>
  <div class='navarrow navarrow-right'>
    <i class="fa fa-chevron-right fa-4x"></i>
  </div>    
</a>

<!-- Accordion -->
<div id="container">
  <div class="panel-group" id="accordion">
    <!-- Agriculture -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="panel-toggle" data-toggle="collapse" data-parent="#accordion" href="#agriculture">
            Agriculture
          </a>
        </h4>
      </div>
      <div id="agriculture" class="panel-collapse collapse<%= " in" if @section == 'agriculture' %>">
        <div class="panel-body">
          <!-- Agriculture -->
          <div class="row">
            <div class="col-md-4">
              <label class="radio-inline">
                <input type="radio" name="agri" value="ind">
                Heavily Industrialized
              </label>
            </div>
            <div class="col-md-4">
              <label class="radio-inline">
                <input type="radio" name="agri" value="med">
                Medium
              </label>
            </div>
            <div class="col-md-4">
              <label class="radio-inline">
                <input type="radio" name="agri" value="lab">
                Labor-intensive
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Energy -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="panel-toggle" data-toggle="collapse" data-parent="#accordion" href="#energy">
            Energy
          </a>
        </h4>
      </div>
      <div id="energy" class="panel-collapse collapse<%= " in" if @section == 'energy' %>">
        <div class="panel-body">
          <!-- Electricity -->
          <h5>Electricity</h5>
          <div class="row">
            <div class="col-md-4">
              <label class="radio-inline">
                <input type="radio" name="energy-elec" value="ff">
                100% Fossile Fuels
              </label>
            </div>
            <div class="col-md-4">
              <label class="radio-inline">
                <input type="radio" name="energy-elec" value="5050">
                50% Fossile Fuels, 50% Nuclear Energy
              </label>
            </div>
            <div class="col-md-4">
              <label class="radio-inline">
                <input type="radio" name="energy-elec" value="ren">
                100% Renewable
              </label>
            </div>
          </div>
          <!-- Fuels -->
          <h5>Fuels</h5>
          <div class="row">
            <div class="col-md-4">
              <label class="radio-inline">
                <input type="radio" name="energy-fuels" value="ff">
                100% Fossile Fuels
              </label>
            </div>
            <div class="col-md-4">
              <label class="radio-inline">
                <input type="radio" name="energy-fuels" value="5050">
                50% Fossile Fuels, 50% Biomass
              </label>
            </div>
            <div class="col-md-4">
              <label class="radio-inline">
                <input type="radio" name="energy-fuels" value="bio">
                100% Biomass
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Industrialization -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="panel-toggle" data-toggle="collapse" data-parent="#accordion" href="#industrialization">
            Industrialization
          </a>
        </h4>
      </div>
      <div id="industrialization" class="panel-collapse collapse<%= " in" if @section == 'industrialization' %>">
        <div class="panel-body">
          <!-- Industrialization -->
          <div class="row">
            <div class="col-md-4">
              <label class="radio-inline">
                <input type="radio" name="indus" value="low">
                Low
              </label>
            </div>
            <div class="col-md-4">
              <label class="radio-inline">
                <input type="radio" name="indus" value="med">
                Medium
              </label>
            </div>
            <div class="col-md-4">
              <label class="radio-inline">
                <input type="radio" name="indus" value="hig">
                Heavy
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>