<div class='card-container animated hidden' id='cards'>
  <%= render "checker/cards/demographics" %>
  <%= render "checker/cards/diet" %>
  <%= render "checker/cards/households" %>
  <%= render "checker/cards/services" %>
  <%= render "checker/cards/density" %>
  <%= render "checker/cards/land" %>
  <%= render "checker/cards/agriculture" %>
  <%= render "checker/cards/building" %>
  <%= render "checker/cards/energy" %>
</div>
