<!DOCTYPE html>
<html>
<head>
  <title>The Sustainability Sudoku</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "app", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag     params[:controller], "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag params[:controller], "data-turbolinks-track" => true %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
  <%= render "layouts/shim" %>
</head>
<body>
  <%= render "layouts/app/header" %>
  <%= yield %>
  <%= render "layouts/app/footer" %>
</body>
</html>
