<!DOCTYPE html>
<html>
<head>
  <title>The Sustainability Sudoku</title>
  <!-- Stylesheets -->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "bootstrap", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag     params[:controller], "data-turbolinks-track" => true %>
  <!-- Javascripts -->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "bootstrap", "data-turbolinks-track" => true %>
  <%= javascript_include_tag params[:controller], "data-turbolinks-track" => true %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
  <%= render "layouts/common/shim" %>
</head>
<body data-spy="scroll" data-target=".menu-nav-content">
  <%= render "checker2/header" %>
  <%= yield %>
</body>
</html>
