<!DOCTYPE html>
<html>
<head>
  <title>The Sustainability Sudoku</title>
  <!-- Stylesheets -->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "bootstrap", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag     params[:controller], "data-turbolinks-track" => true %>
  <!-- Javascripts -->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "checker", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//code.jquery.com/ui/1.10.3/jquery-ui.js", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "bootstrap", "data-turbolinks-track" => true %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
  <%= render "layouts/shim" %>
</head>
<body>
  <%= render "layouts/checker/header" %>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
