<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Sustainability Sudoku</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "bootstrap", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "site", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "bootstrap", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "site", "data-turbolinks-track" => true %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= render "layouts/common/shim" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <%= render "layouts/common/header" %>
    <%= yield %>
    <%= render "layouts/common/footer" %>
  </body>
</html>
