<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Sustainability Checker</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "bootstrap", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "static_pages", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "bootstrap", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "static_pages", "data-turbolinks-track" => true %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= render "layouts/common/shim" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body data-spy="scroll" data-target="#header">
    <%= yield %>
  </body>
</html>
